.content-container {
    padding: 0 30px;
}

.content-element {
    margin-top: 30px;
    cursor: pointer;
    

    &:hover { 
        .footer {
            height: 45% !important;
            opacity: 1 !important;
            background-color: rgba(0, 0, 0, .85) !important;
        }

        .header {
            transition: all .2s linear;
            background-color: rgba(0, 0, 0, 0.85) !important;
        }
    }
    
    .body {
        width: 100%;
        position: relative;

        img {
            height: 100%;
        }

        .header {
            height: 30px;
            padding-left: 10px;
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;
            right: 0;
            color: white;
            background-color: rgba(0, 0, 0, .2);
        }

        .footer {
            left: 0;
            right: 0;
            bottom: 3px;
            height: 0;
            opacity: 0;
            color: white;
            position: absolute;    
            background-color: rgba(0, 0, 0, .2);
            padding-left: 10px;
            padding-top: 10px;
            transition: all .2s linear;
      
        }
    }
}
