@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2|Kanit|Overpass&display=swap');

.baloo-font {
    font-family: 'Baloo Tamma 2', cursive !important;
}

.overpass-font {
    font-family: 'Overpass', sans-serif !important;
}

.kanit-font {
    font-family: 'Kanit', sans-serif !important;
}

